*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
span{
    display: inline-block;
    height: 100px;
    width: 150px;
    background-color: lightblue;
    margin: 5px;
    text-align: center;
 
}
