*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.student-card {
    width: 320px;
    height: 420px;
    background-color: #ffffff;
    padding: 25px;
    margin: 20px;
    border: 2px solid #2c3e50;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.student-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #2c3e50;
    margin-bottom: 15px;
}

.student-card h2 {
    color: #2c3e50;
    margin: 10px 0;
}

.student-card p {
    color: #555;
    margin: 8px 0;
}

